@font-face {
  font-family: "HackNerdFont";
  src: url(Hack/HackNerdFont-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "HackNerdFont";
  src: url(Hack/HackNerdFont-Bold.ttf) format("truetype");
  font-weight: 500;
}
