:root {
  --yellow: #d6c352;
  --yellow-dark: #968302;
  --blue: #1e66f5;
  --blue-light: #89b4fa;
  --white: #cdd6f4;
  --dark: #181825;
  --dark-darker:#11111b;
  --gray: #585b70;
  --gray-darker: #313244;
  --gray-white: #7f849c;
}

body {
    background: #090909;
    color: var(--blue-light);
    font-family: sans-serif;
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.margen {
  margin: 0 15vw;
}

/* --- HEADER --- */

header {
  margin-top: 2vh;
  margin-left: 15vw;
  display: flex;
  justify-content: left;
}

header h1 {
    margin: auto;
    margin-top: 80px;
    font-size: 3.5vw;
    text-align: center;
}

header h2 {
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: start;
}

header img {
  box-sizing: border-box;
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 10vh;
  margin-left: 20px;
  margin-right: 70px;
  margin-bottom: 5vh;
  border-radius: 50%;
  border: 2px solid var(--gray-white);
}

.media-container {
  padding: 2px;
  margin-top: 10px;
  display: inline-block;
}

.media-container div {
  display: inline-block;
}

.media-container img {
  display: inline-flex;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0 2px;
  border: none;
  border-radius: 0;
  transition: all 0.2s ease;
}

/* --- SKILLS SECTION ---*/

.skills-title {
    font-size: 1.5vw;
    min-font-size: 13;
    padding-left: 1.5vw;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-top: 15vh;
    border-bottom: 2px solid var(--blue);
    box-shadow: 0 18px 25px -18px var(--blue);
}

.Skills {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.Skills article {
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
    width: 45%;
    margin: 2px 10px;
}

#Skills-Line {
    padding: 1px;
    background-color: var(--blue-light);
}

.List-Skill {
    border-radius: 4px;
    display: inline-block;
    color: var(--white);
}

.List-Skill-Item {
    display: inline-flex;
    background-color: var(--dark);
    align-items: center;
    justify-content: left;
    color: var(--white);
    font-size: 14px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 5px;
    user-select: none;
    cursor: default;
    transition: all 0.2s ease;
}

.List-Skill-Item:hover {
    background-color: var(--dark-darker);
    scale: 1.05;
}

.List-Skill img {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    padding: 5px;
}

/* --- ABOUT --- */


.about-title {
    font-size: 1.5vw;
    min-font-size: 13;
    padding-left: 1.5vw;
    margin-top: 15vh;
}

.about-text {
  margin: 10px 1.5vw;
  color: var(--white);
}

/* --- PROJECTS WEB SECTION --- */

.Project-web-title {
  font-size: 1.5vw;
  min-font-size: 13;
  padding-left: 1.5vw;
  margin-top: 15vh;
}

.Projects-web {
    margin: auto;
    margin-top: 50px;
}

.Projects-web article {
  margin: 20px auto;
  box-sizing: border-box;
  width: 100%;
  height: 45vh;
  display: flex;
  transition: all 0.35s ease;
  border: 2px solid var(--dark);
  border-radius: 8px;
  overflow: hidden;
}

.Projects-web article:hover {
  border-color: var(--gray);
  border-radius: 10px;
}

.Project-Box {
  box-sizing: border-box;
  width: 57%;
  margin-left: 2%;
  margin-right: 1%;
}

.Project-Box h3 span {
  padding-left: 8px;
  color: var(--gray-white);
  font-size: 12px;
}

.Project-Box p {
  color: var(--white);
}

.Project-Img {
  display: block;
  width: 40%;
}

.Projects h2{
    text-align: center;
}

.Projects a {
  color: inherit;
  text-decoration: none;
}

.Project-repo {
  margin-top: 5px;
  font-size: 14px;
}

.Project-repo a {
  background-color:#11111b;
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--white);
  transition: background-color 0.35s ease;
}

.Project-repo a:hover {
  background-color:#0f0f19;
}

.Project-repo-img {
  width:22px;
  height:22px;
  margin-right: 5px;
  padding: 2px 1px 2px 1px;
  filter: drop-shadow(0px 0px 5px #333363);
}

/* --- PROJECTS SECTION --- */
/* Some of the web class are used here ! */

.Projects {
    margin: auto 10%;
    margin-top: 50px;
}

.Project-title {
  font-size: 1.5vw;
  min-font-size: 13;
  padding-left: 12%;
  margin-top: 15vh;
}

.Projects article {
  margin: 20px auto;
  box-sizing: border-box;
  width: 100%;
  height: 50vh;
  display: flex;
  transition: all 0.35s ease;
}

.Projects article:hover {
  border-color: var(gray);
}


.Projects .Project-Box {
  box-sizing: border-box;
  width: 45%;
  margin-left: 2%;
  margin-right: 3%;
}


.Projects .Project-Img {
  display: block;
  width: 50%;
}

.gif {transition: all 0.3s ease}

.gif:hover {
  box-shadow: 0 0 10px 5px var(--gray-darker)
}
