:root {
  --yellow: #d6c352;
  --yellow-dark: #968302;
  --blue: #1e6af5;
  --blue-light: #89b4fa;
  --white-darker: #a5adcb;
  --white: #cdd6f4;
  --white-light: #f4f4ff;
  --dark: #181825;
  --dark-darker:#11111b;
  --dark-2: #090912;
  --dark-3: #101018;
  --dark-4: #1e1e2e;
  --gray: #585b70;
  --gray-darker: #313244;
  --gray-white: #7f849c;
}

body {
    background: var(--dark-darker);
    color: var(--blue-light);
    font-family: sans-serif;
    margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.margen {
  margin: 0 8vw;
  margin-left: 23vw;
}

.font {
  font-family: HackNerdFont
}

main {
  padding-bottom: 20vh;
}

/* --- HEADER --- */

header {
  margin-top: 2vh;
  margin-left: 23vw;
  display: flex;
  justify-content: left;
}

header h1 {
    margin: auto;
    margin-top: 80px;
    font-size: 3.5vw;
    text-align: center;
}

header h2 {
    margin: auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.5vw;
    text-align: start;
}

header img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-top: 10vh;
  margin-left: 20px;
  margin-right: 70px;
  margin-bottom: 5vh;
  border-radius: 50%;
  border: 2px solid var(--blue-light);
  object-position: 50% 0%;
  object-fit: cover;
}

/* --- ASIDE --- */

aside {
  position: fixed;
  top: 0;
  background-color: var(--dark-2);
  box-sizing: border-box;
  height: 100vh;
  width: 15vw;
}

aside h1 {
  text-align: center;
  font-size: 52px;
  margin: 0;
  padding-top: 5vh;
  padding-bottom: 2vh;
}

aside h3 {
  text-align: center;
  padding-bottom: 15px;
}

aside p {
  font-size: 12px;
  color: var(--gray-white);
  text-align: center;
  margin: 0;
}

aside nav button {
  box-sizing: border-box;
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--white);
  font-size: 14px;
  padding: 12px 0;
  border-left: 2px solid transparent;
  transition: all 0.35s ease;
}

aside nav button:hover {
  cursor: pointer;
  background-color: #aaaaaa11;
  border-color: var(--blue-light)
}

.contacts {
  margin-top: 5px;
}

/* --- SKILLS SECTION ---*/

.skills-title {
    font-size: 1.5vw;
    min-font-size: 13;
    padding-left: 1.5vw;
    padding-top: 10px;
    padding-bottom: 2px;
    margin-top: 15vh;
    border-bottom: 2px solid var(--blue);
    box-shadow: 0 18px 25px -18px var(--blue);
}

.Skills {
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-top: 50px;
}

.Skills article {
    padding: 20px;
    padding-top: 0;
    box-sizing: border-box;
    width: 45%;
    margin: 2px 10px;
}

#Skills-Line {
    padding: 1px;
    background-color: var(--blue-light);
}

.List-Skill {
    border-radius: 4px;
    display: inline-block;
    color: var(--white);
}

.List-Skill-Item {
    display: inline-flex;
    background-color: var(--dark);
    align-items: center;
    justify-content: left;
    color: var(--white);
    font-size: 14px;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 5px;
    user-select: none;
    cursor: default;
    transition: all 0.2s ease;
}

.List-Skill-Item:hover {
    background-color: var(#1e1e2e);
    color: var(--white-light);
    scale: 1.05;
}

.List-Skill img {
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    margin-top: 2px;
    padding: 5px;
}

/* --- ABOUT --- */

.about-section {
  padding: 10px 5px;
  margin-top: 12vh;
  transition: all 0.35s ease;
}

.about-section:hover {
  box-shadow: -25px 25px 25px -5px var(--dark-2);
  scale: 1.02;
}


.about-title {
    font-size: 1.5vw;
    padding-left: 1.5vw;
}

.about-text {
  margin: 10px 1.5vw;
  color: var(--white);
}

/* --- PROJECTS WEB SECTION --- */

.Project-web-title {
  font-size: 1.5vw;
  min-font-size: 13;
  padding-left: 1.5vw;
  padding-bottom: 5px;
  margin-top: 15vh;
  border-bottom: 2px solid var(--blue);
  box-shadow: 0 18px 25px -18px var(--blue);
}

.Projects-web {
    margin: auto;
    margin-top: 50px;
}

.Projects-web article {
  margin: 20px auto;
  box-sizing: border-box;
  width: 100%;
  height: 45vh;
  display: flex;
  transition: all 0.5s ease;
  border: 2px solid var(--dark);
  border-radius: 8px;
  overflow: hidden;
}

.Projects-web article:hover {
  border-color: var(--white);
  border-radius: 10px;
  scale: 1.02;
  box-shadow: -25px 25px 25px -5px var(--dark-2);
}

.Project-Box {
  box-sizing: border-box;
  width: 57%;
  margin-left: 2%;
  margin-right: 1%;
}

.Project-Box h3 span {
  padding-left: 8px;
  color: var(--gray-white);
  font-size: 12px;
}

.Project-Box p {
  color: var(--white);
}

.Project-Img {
  display: block;
  width: 40%;
}

.Projects h2{
    text-align: center;
}

.Projects a {
  color: inherit;
  text-decoration: none;
}

.Project-repo {
  margin-top: 5px;
  font-size: 14px;
}

.Project-repo a {
  background-color: var(--dark-3);
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: fit-content;
  color: var(--white);
  transition: background-color 0.35s ease;
}

.Project-repo a:hover {
  background-color: var(--dark-4);
}

.Project-repo-img {
  width:22px;
  height:22px;
  margin-right: 5px;
  padding: 2px 1px 2px 1px;
  filter: drop-shadow(0px 0px 5px #333363);
}

/* --- OTHER PROJECTS --- */

.other-projects {
  display: flex;
  justify-content: space-around;
}

.other-projects article {
  box-sizing: border-box;
  width: 18vw;
  height: 40vh;
  border: 1px solid var(--gray);
  border-radius: 8px;
}

.other-art-1, .other-art-2 {
  background-image: url("imagenes/background.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- DIPLOME SECTION --- */


.diplome-title {
  text-align: center;
  font-size: 1.5vw;
  min-font-size: 13;
  padding-top: 10px;
  margin-top: 15vh;
}

.Diplome-Img {
  margin: 0px 20%;
  box-sizing: border-box;
  width: 60%;
  height: 50vh;
}

.Diplome-box h3 {
  text-align: center;
}
